#sliderDiv {
    position: fixed;
    padding-top: 80px;
    padding-bottom: 60px;
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    background-color: #f4f4f4;
}

.sliderCard {
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 6px #bbbbbb;
/*    text-align: center;*/
    position: absolute;
    width: 270px;
}

.heartIcon {
    right: 20px;
    top: 20px;
    height: 30px;
    width: 30px;
    position: absolute;
    cursor: pointer;
}

.big_heartIcon {
    right: 10px;
    top: 67px;
    height: 40px;
    width: 40px;
    position: absolute;
    cursor: pointer;
}

.sliderImg {
    height: 320px;
/*    width: 250px;*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
}

.sliderImg img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.sliderCard h3 {
    margin-top: 10px;
    color: #4f4e4e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sliderCard h6 {
    color: #50C878;
}

#arrow-left, #arrow-right {
    position: fixed;
    height: 50px;
    width: 50px;
    top: 50%;
    opacity: 0.4;
}

#arrow-left {
    left: 15px;
}

#arrow-right {
    right: 15px;
}

body {
    background-color: grey;
}

.bannerDiv {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bannerDiv img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.ingredientInfo, .recipeInfo {
    padding-bottom: 60px;
}

.ingredientTitles, .recipeTitles, .recipeSteps, .recipeInfo {
    padding: 10px;
}

.featuredSlider {
    overflow: scroll;
}

.featuredSlider_inner {
    display: inline-flex;
/*    width: 1000px;*/
}

.featuredBlock {
/*    background-color: grey;*/
    width: 100px;
    margin: 4px;
}

.featuredBlock h6 {
    padding: 4px;
}

.featuredBlockImg {
    height: 100px;
}

.featuredBlockImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

#stepsList {
    list-style-type: none;
    padding-left: 25px;
}

#statsList {
    list-style-type: none;
    padding-left: 10px;
    color: limegreen;
    font-weight: 600;
    font-size: 20px;
}

.text-uppercase {
    top: 65px;
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 2rem;
}

.nav-pills .nav-link.active {
    background-color: #50C878;
}