#sliderDiv {
    position: fixed;
    top: 80px;
/*    bottom: 30px;*/
/*    height: 800px;*/
    height: 80%;
    width: 100%;
   
}

.sliderCard {
    top: 0;
    padding: 10px;
    background-color: rgba(0,0,0,0.1);
    text-align: center;
    position: absolute;
}

.heartIcon {
    right: 20px;
    top: 20px;
    height: 30px;
    width: 30px;
    position: absolute;
}

.sliderImg {
    height: 350px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.sliderImg img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    margin-bottom: 15px
}

.sliderCard h3 {
    color: darkgray;
}

.sliderCard h6 {
    color: green;
}

#arrow-left, #arrow-right {
    position: fixed;
    height: 40px;
    width: 40px;
    top: 50%;
    opacity: 0.8;
}

#arrow-left {
    left: 20px;
}

#arrow-right {
    right: 20px;
}

body {
    background-color: grey;
}

.bannerDiv {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bannerDiv img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.ingredientTitles, .recipeTitles, .recipeSteps, .recipeInfo {
    padding: 10px;
}

.featuredSlider {
    overflow: scroll;
}

.featuredSlider_inner {
    display: inline-flex;
/*    width: 1000px;*/
}

.featuredBlock {
/*    background-color: grey;*/
    width: 100px;
    margin: 2px;
}

.featuredBlock h6 {
    padding: 4px;
}

.featuredBlockImg {
    height: 70px;
}

.featuredBlockImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#stepsList {
    list-style-type: none;
    padding-left: 25px;
}